{
	"presets": [
			"@babel/env",
			"@babel/preset-typescript"
	],
	"plugins": [
			"@babel/plugin-syntax-function-bind",
			"@babel/proposal-class-properties",
			"@babel/proposal-object-rest-spread",
			["babel-plugin-inline-import", {
				"extensions": [
					".ejs",
					".gql",
					".sol"
				]
			}]
	]
}